*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.LoginPage{
    /* background: linear-gradient(to top right,#f4c0c0b9,#f78181b9) ; */
    background:white; 
}
.container{
    height: 100vh;
}
.box{
    flex-direction: row;
    background-color:white;
    width: 70%;
    height: 85vh;
    border-radius: 5vh;
    box-shadow:0px 0px 50px rgba(131, 127, 127, 0.5);
}

.eyes{
    width: 2vw;
    font-family: FontAwesome;
    height: 2.5vw;
    outline: none;
    border: none;

}
.eyes:hover{
    opacity: 0.7;
}
.pass{
    width: 80%;
}
.content{
    flex-direction: column;
    gap: 1vw;
    margin: 1vw;
    width: 35vw;
}
.content h1{
    font-size: 4vw;
    width: 100%;
    font-weight:700;
    font-style:sans-serif;
}
.content p{
    font-weight: lighter;
}
.login{
    flex-direction: column;
    gap: 1vw;
}
.login input{
    font-family: FontAwesome;
    width: 100%;
    height: 2.5vw;
    padding-left: 1vw;
    background-color: #F3F2F3;;
    border-radius: 20px;
    outline: none;
    border: 2px black;
}
.login input[type="checkbox"] {
    transform : scale(1.5); 
}
.login input[type="checkbox"]:checked {
    background-color: #FD9B4F;
}
.rem{
    display: flex;
    align-self: flex-start;
    gap: 0.5vw;
}
.rem h5{
    padding-top: 0.5vw;
}
.btn{
    min-width: 3vw;
    min-height: 2.5vw;
    border-radius:25px;
    background-color: rgba(255, 0, 0, 0.626) !important;
    box-shadow:5px 5px 30px rgb(241, 158, 158);
    color: #F3F2F3;
    padding:1vw;
}

/* rgba(255, 0, 0, 0.626) */
.btn:hover{
    transform: scale(1.1);
    transition:ease-in-out 0.3s;
}
.oathbtn{
    width: 120%;
    height: 2.5vw;
    background-color: transparent;
    font-family: FontAwesome;
}
.oathbtn:hover{
    background-color: #f9b979;
}
hr{
    width: 44%;
}
.register{
    flex-direction: column;
    gap: 1.8vw;
}
.register .flex{
    gap:1vw;
}
.register input{
    font-family: FontAwesome;
    width: 100%;
    height: 2.5vw;
    padding-left: 1vw;
    background-color: #F3F2F3;
    border-radius: 20px;
    outline: none;
    border: 2px black;
}

.rem2{
    width: 100%;
    display: flex;
    align-self: flex-start;
    gap: 0vw;
    font-size: 1vw;
    font-weight: 100;
}
.register input[type="checkbox"] {
    transform : scale(0.865843); 
    height: 1.5vw;
    margin: 0;
    width: 40px;
}
.btn2{
    justify-self:left;
    height: 2.5vw;
    background-color: transparent;
    width: 5vw;
}
.btn2:hover{
    background-color: #F3F2F3;
}
.password{
    gap:0vw;
    font-family: FontAwesome;
    width: 100%;
    background-color: #F3F2F3;
    border-radius:2vw
}

.col{
    flex-direction: column;
    gap:1vw !important;
    align-items: flex-start !important;
}

